body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #efa1ff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #5f0458;
}
.buttons {
    margin-top: 20px;
  }
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4c14cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #aa175c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

.gif_container img {
    width: 100%; 
    max-width: 250px; 
    height: auto; 
}